.image{
    height: 200px;
    overflow: hidden;
}
img{
    width: 100%;
}
.text{
    text-align: justify;
}

.slider{
    position: relative;
}
.slider > .slide{
    position: relative;
    width: 1100px;
    box-shadow: 0 0  5px #111;
    background: #fff;
}
/*.slider > .slide.current{
    position: absolute;
    z-index: 9998;
}
